@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color:#222222;
    font-family: 'Poppins', sans-serif;
}

.hidden {
  opacity:0;
}

/* Navbar */
.navbar-section{
  background-color: #222222;
  transition:  all 2s ease;
}

button{
  font-size: 30px;
  background-color: #222222;
  border: none;
  padding: 12px 19px;
  color: rgb(245, 245, 245);
  font-weight: 600;
  margin-top: 4%;
}

button:hover{
  background-color:#EA178C;
  cursor: pointer;
}

.nav-content{
    transition: opacity 2s ease-in-out;
    margin-top: 10px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    color:whitesmoke;
}

.nav-link{
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  padding: 0 40px;
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 600;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}


/* Typing Text Effect */
.console-container {
  color: white;
  text-align: center;
  font-size: 180px;
  margin-top:30px;
  font-weight: 600;
  padding: 0;
  margin-bottom: 0px;
  letter-spacing: -17px;
  height: 100vh;
  mix-blend-mode: screen;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/* work heading */
.work-section{
  overflow: hidden;
}

.work-section hr{
  position: relative;
  width: 100%;
  border:none;
  border-bottom: 1px solid white;
  bottom: 39px;
  z-index: -1;

}

.work-head{
  color: rgb(245, 245, 245);
}

.work-head h2{
  position: relative;
  margin-left: 30px;
  background-color: #222222;
  transform: skew(175deg);
  width: 100px;
}

/* card trial */
.card{
  position: relative;
  background: #6060EF;
  height: 200px;
  margin: 40px 18%;
  overflow: hidden;
  transform: skew(175deg);
  transition: 0.5s;
}

input,
.toggle{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  outline: none;
  z-index: 10;
}

input{
  opacity: 0;
}

.toggle{
  pointer-events: none;
  border-radius: 50%;
  background: #fff;
  transition: 0.5s;
  text-align: center;
  font-size: 37px;
  box-shadow: 0 0 0 0px #222222;
}

input:checked ~ .toggle{
  box-shadow: 0 0 0 800px #222222;
  transform: rotate(225deg);
}

input:checked ~ .details{
  /* border-left:5px solid wheat; */
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
  /* border-image: linear-gradient(to right, #00c9ff, #92fe9d); */
  border-image: linear-gradient(to right,#ff4cff,#ff813d);
  border-image-slice: 1;
}

.headBx,
.details {
  position: absolute;
}

.headBx{
  font-size: 30px;
  width: 100%;
  text-transform: uppercase;
  color: whitesmoke;
}


.headBx a{
  font-weight: 600;
  color: aliceblue;
  padding:60px 0 0 0;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.headBx a:after {    
  background: none repeat scroll 0 0 transparent;
  /* bottom: 0; */
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.headBx a:hover:after { 
  width: 100%; 
  left: 0px; 
}

.headers h2{
  display: inline-block;
  border-left: 5px solid transparent;
  /* border-image: linear-gradient(to right,  #00c9ff, #92fe9d); */
  border-image: linear-gradient(to right,#ff4cff,#ff813d);
  border-image-slice: 1;
  padding: 0px 10px;
  margin-right:40px;
}

.details{
  padding: 20px;
  padding-left: 35px;
  box-sizing: border-box;
  text-align: left;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
  color:#fff
}

.details p{
  padding-right:30px;
}

input:checked ~ .details{
  opacity: 1;
  transition-delay: 0.1s;
}

.wc1{
  background-color: #6060EF;
  background: linear-gradient(to right, #4776e6, #8e54e9); 
}

.wc2{
  background-color: crimson;
  background: linear-gradient(to right, #ff512f, #dd2476);
}

.wc3{
  background-color: #EA178C;
  background: linear-gradient(to right, #aa076b, #61045f);
}

.wc4{
  background-color: #FF813D;
  background: linear-gradient(to right, #ff512f, #f09819);
  
}

.wc6{
  background-color: rebeccapurple;
  background: linear-gradient(to right, #af16ce, #8a26e2); 
  /* background: linear-gradient(to right, #c33764, #1d2671); */
}

.wc5{
  background-color: rgb(65, 163, 108);
  /* background: linear-gradient(to right, #1a2980, #26d0ce); */
  background: linear-gradient(to right, #02aab0, #00cdac);
}

/* about-section */
.about-section{
  margin-top: 400px;
  justify-content: center;
}

.profile-image{
  margin:0 auto;
  width: 500px;
  height: 450px;
  background-size: cover;
  background-image:
    linear-gradient(to bottom, rgba(92, 220, 252, 0.2), rgba(117, 19, 93, 0.4)),
    url('../assets/me-1.jpg');
}

.about-section h1{
  color:whitesmoke;
  /* font-style: italic; */
  font-size: 45px;
  transform: skew(175deg);
}

.about-section p{
  font-family: 'Varela Round', sans-serif;
  text-align: left;
  margin: auto 20%;
  font-size: 24px;
  color:whitesmoke;
  line-height: 1.8;
  word-spacing: 8px;
}

.about-section p a{
  text-decoration: none;
  color:whitesmoke;
  border-bottom: 2px solid #5BF390;
  transition: 0.5s;
  padding:5px;
  padding-bottom: 2px;
}

.about-section p a:hover{
  color:#222222;
  background: #5BF390;
  transform: skew(175deg);
}

@media screen and (max-width: 769px) {
  .console-container{
    font-size: 130px;
    letter-spacing: -2px;
  }

  #console{
    margin-top: 100px;
  }

  .card{
    height: 170px;
    margin: 50px 15%;
  }

  .headBx a{
    font-size: 40px;
  }

  input, .toggle{
    width: 30px;
    height: 30px;
    bottom: 10px;
    right: 10px;
  }

  .toggle span{
    position: relative;
    top: -10px;
  }

  .headers h2{
    font-size: 15px;
  }

  .details p{
    font-size: 15px;
  }

  .profile-image{
    width: 450px;
    height: 400px;
  }

  .about-section h1{
    font-size: 40px;
  }

  .about-section p{
    font-size: 20px;
    margin: auto 15%;
  }

}

@media screen and (max-width: 480px) {
  .nav-link{
    padding: 0 20px;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 600;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 10px;
  }
  
  .console-container{
    font-size: 50px;
    letter-spacing: 2px;
  }

  #console{
    margin-top:150px;
  }

  .card{
    text-align: left;
    height: 220px;
    margin: 50px 8%;
  }

  .headBx a{
    font-size: 35px;
    padding:20px;
    padding-top: 50px;
    padding-left: 40px;
  }

  input, .toggle{
    width: 25px;
    height:25px;
    bottom: 10px;
    right: 10px;
  }

  .toggle span{
    position: relative;
    font-size: 30px;
    top: -17px;
  }

  .headers h2{
    font-size: 14px;
    padding: 0px 8px;
    border-width: 3px;
  }

  .details{
    padding-left: 20px;
    text-align: left;
    height: 100%;
  }

  .details p{
    font-size: 12px;
    padding-right: 10px;
  }

  input:checked ~ .card{
    background-color: #ff813d;
    height: 500px;
  }

  .profile-image{
    width: 330px;
    height: 280px;
  }

  .about-section h1{
    font-size: 30px;
    margin-top: 40px;
  }

  .about-section p{
    margin: 30px 10%;
    font-size: 18px;
    line-height: 1.7;
    word-spacing: 5px;
  }
}

@media screen and (min-width: 1299px) {
  .console-container{
    margin-top: 150px;
  }
}
