@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;500;700&display=swap');

body{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color:#222222;
    font-family: 'Poppins', sans-serif;
}

.hidden {
  opacity:0;
}

/* Navbar */
.navbar-section{
  background-color: #222222;
  transition:  all 2s ease;
}

button{
  font-size: 30px;
  background-color: #222222;
  border: none;
  padding: 12px 19px;
  color: rgb(245, 245, 245);
  font-weight: 600;
  margin-top: 4%;
}

button:hover{
  background-color:#EA178C;
  cursor: pointer;
}

.nav-content{
    transition: opacity 2s ease-in-out;
    margin-top: 10px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    color:whitesmoke;
}

.nav-link{
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  padding: 0 40px;
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 600;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}


/* Typing Text Effect */
.console-container {
  color: white;
  text-align: center;
  font-size: 180px;
  margin-top:30px;
  font-weight: 600;
  padding: 0;
  margin-bottom: 0px;
  letter-spacing: -17px;
  height: 100vh;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/* work heading */
.work-section hr{
  position: relative;
  width: 100%;
  border:none;
  border-bottom: 1px solid white;
  bottom: 39px;
  z-index: -1;

}

.work-head{
  color: rgb(245, 245, 245);
}

.work-head h2{
  position: relative;
  margin-left: 30px;
  background-color: #222222;
  transform: skew(175deg);
  width: 100px;
}

/* Work-cards */
.work-card{
  background-color: crimson;
  margin: 50px 18%;
  height: 150px;
  transform: skew(175deg);
}

.work-card a{
  font-weight: 600;
  color: aliceblue;
  padding:40px 0 0 0;
  font-size: 50px;
  cursor: pointer;
}

.work-card a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  /* padding: 15px 20px; */
  position: relative;
}
.work-card a:after {    
  background: none repeat scroll 0 0 transparent;
  /* bottom: 0; */
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

.wc1{
  background-color: #6060EF;
}

.wc3{
  background-color: #EA178C;
}

.wc4{
  background-color: #FF813D;
}

.wc6{
  background-color: rebeccapurple;
}

.wc5{
  background-color: rgb(65, 163, 108);
}

@media screen and (max-width: 769px) {
  .console-container{
    font-size: 130px;
    letter-spacing: -2px;
  }

  #console{
    margin-top: 100px;
  }

  .work-card a{
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  .console-container{
    font-size: 50px;
    letter-spacing: 2px;
  }

  #console{
    margin-top:150px;
  }

  .work-card{
    margin: 30px 10%;
    height: 100px;
    transform: skew(175deg);
  }
  
  .work-card a{
    font-weight: 600;
    padding:30px 0;
    font-size: 22px;
  }
}

@media screen and (min-width: 1299px) {
  .console-container{
    margin-top: 150px;
  }
}